.loginbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}
.loginbox h1{
    color: white;
    font-size: 80px;
    line-height: 3px;

}
.loginbox button{
    color: white;
    background-color: #403d39;
    border-style: none;
    width: 20vw;
    height: 4vh;
    font-size: 17px;
}